<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    {% block scripts %} 
    <title>Perfil do Usuário</title>
    {% endblock %}
</head>
<body>
    {% block nav %}
    <nav>
        <a href="/homepage">Página Inicial</a>
        <a href="/contatos">Contatos</a>
        <a href="/sobre">Sobre</a>
      </nav>
    {% endblock %}
    <div>
        <img src="{{ url_for('static', filename = 'imagens/logoifro.png') }}" alt="logo ifro" width="70" height="70">
        <br>
    </div>

    {% block conteudo %}

    {% endblock %}
    
    <h6>Copyright₢ 2024</h6>
</body>
</html>