{% extends 'base.html' %}

{% block conteudo %}
<main>
    <p>Se você tiver alguma dúvida, preencha o formulário abaixo e entraremos em contato o mais breve possível.</p>
    <form>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>

        <label for="mensagem">Mensagem:</label>
        <textarea id="mensagem" name="mensagem" rows="4" placeholder="Digite sua mensagem" required></textarea>

        <button type="submit">Enviar</button>
    </form>
</main>
{% endblock %}