{% extends 'base.html' %}

{% block scripts %}
<head>
    <title>Login</title>
    <script>
        function validarForm(event) {
            event.preventDefault()
            var usu = document.getElementById("email").value;
            var pwd = document.getElementById("password").value;
            var regra = /^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*(),.?":{}|<>])[A-Za-z\d!@#$%^&*(),.?":{}|<>]{6,}$/;

            if(!regra.test(pwd)) {
                alert("A senha deve ter no mínimo 6 caracteres, conter pelo menos uma letra maiúscula, um número e um caractere especial.")
            } else {
                window.location.href = '/templates/homepage.html'
            }
        }
    </script>
</head>
{% endblock %}

{% block conteudo %}

<form>
    <label for="nome">Email</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Senha</label>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Entrar" onclick="validarForm(event)">
</form>
<p>Não possui login? <a href="/cadastro">Criar login</a></p>

{% endblock %}