{% extends 'base.html' %}
{% block nav %}{% endblock %}

{% block scripts %}
<head>
    <title>Login</title>
{% endblock %}

{% block conteudo %}

{% set mensagens = get_flashed_messages() %}
{% if mensagens %}
<div class="alert alert-danger" role="alert">
    <ul>
    {% for msg in mensagens %}
        <li>{{ msg }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<form action="/autenticar" method="POST">
    <br>
    <label for="usuario">Usuário</label>
    <input type="text" id="usuario" name="usuario" required oninput="verificarDigitacao(event)">
    <br>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Login">
</form>
<p>Não possui login? <a href="/cadastro">Criar login</a></p>

{% endblock %}