{% extends 'base.html' %}

{% block conteudo %}
<main>
    <p>
        Fundada em 2008, nosso instituto tem como objetivo principal ajudar nosso alunos em um futuro promissor.
        Ao longo dos anos, conquistamos a confiança de alunos e colaboradores.
    </p>
    <p>
        Acreditamos no poder da tecnologia e no impacto positivo que ela pode trazer para a sociedade. Trabalhamos
        constantemente para oferecer soluções modernas e acessíveis que atendam às necessidades dos nossos usuários.
    </p>
    <p>
        Se você quer saber mais sobre nossos serviços ou tem interesse em colaborar conosco, sinta-se à vontade
        para <a href="contato.html">entrar em contato</a>.
    </p>
</main>
{% endblock %}